.advantages-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex-direction: row;
        align-items: unset;
        flex-wrap: wrap;
        gap: 30px;
    }

    @include desktop {
        flex-wrap: nowrap;
        gap: unset;
    }

    &__element {
        @include tablet {
            width: calc(100% / 2 - 30px);
        }

        @include desktop {
            width: calc(100% / 4 - 30px);
        }
    }
}

.advantages-list__element {
    &:not(:last-child) {
        margin-bottom: 30px;

        @include tablet {
            margin-bottom: unset;
        }

        @include desktop {
            margin-right: 30px;
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 0;
        background-color: var(--secondary-bg);
        border-radius: 4px;
        margin-bottom: 30px;
    }

    &__icon {
        width: 70px;
        height: 70px;
    }

    &__title {
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;

        @include tablet {
            text-align: start;
        }
    }

    &__description {
        color: var(--secondary-text-color);
    }
}