.section--activities {
    display: none;

    @include desktop {
        display: flex;
        padding-top: 0;
    }
}

.activities-list {
    display: flex;
}

.activities-list__element {
    position: relative;
    
    &:not(:last-child) {
        margin-right: 30px;
    }

    &__overlay {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        width: 100%;
        background-color: var(--card-overlay-color);
    }

    &__title {
        color: var(--light-text-color);
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}