.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-text-color);
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    width: 200px;
    background-color: var(--accent-color);
    border-radius: 4px;
    transition: background-color var(--transition), box-shadow var(--transition);

    &:hover, &:focus {
        background-color: var(--accent-hover-color);
        box-shadow: 0 4px 4px var(--shadow-color);
    }
}