body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--primary-text-color);
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}

img {
    display: block;
    max-width: 100%;
}